/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato {
  border: 1px solid grey;
  margin: 200px;
  padding: 20px;
  width: 800px;
  height: 200px;
  font-size: xx-large;
  font-family: "Bree Serif";
  position: relative;
}
.parole i {
  position: absolute;
  left: 0;
  opacity: 0;
}
#n1 {
  animation: dissolvenza 6s linear 0s infinite;
}
#n2 {
  animation: dissolvenza 6s linear 3s infinite;
}
#n3 {
  animation: dissolvenza 6s linear 6s infinite;
}
.parole {
  color: grey;
  position: relative;
}

@keyframes dissolvenza {
  0% {
    opacity: 0;
    transform: translateX(5em);
  }
  15% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
